<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Platzi Video
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	
	navbar.Platzi
		h1.Platzi-title!= "Platzi<span>Video</span>"
		ol.Platzi-list
			h4.Platzi-list-title Mi Playlist
			li.Platzi-list-item
				a(href="#") 5 Reasons To Chose a Notebook Over A computer Desktop
			li.Platzi-list-item
				a(href="#") How To Cook A Tender Juicy Steak
			li.Platzi-list-item
				a(href="#") How To Remove Kidney Stones
			li.Platzi-list-item
				a(href="#") The Science Of Superstitions
			li.Platzi-list-item
				a(href="#") 5 Reasons to Chose A Notebook Over A Computer Desktop
			li.Platzi-list-item
				a(href="#") Get Around Easly With A New York Limousine Service
			li.Platzi-list-item
				a(href="#") How To Cook A Tender Juicy
			li.Platzi-list-item
				a(href="#") Goy to Remove Kidney Stonces
			li.Platzi-list-item
				a(href="#")
			li.Platzi-list-item
				a(href="#") The Science Of Superstitions
		.Platzi-firends
			h4.Platzi-friend-title Playlists de Amigos
			.Platzi-friend-item
				figure.Platzi-friend-item-perfil
					img.Platzi-friend-item-perfil-img(src="img/perfil1.jpg", alt="perfil1")
				p.Platzi-friend-item-nombre Gordon Caroll
			.Platzi-friend-item
				figure.Platzi-friend-item-perfil
					img.Platzi-friend-item-perfil-img(src="img/perfil2.jpg", alt="perfil2")
				p.Platzi-friend-item-nombre Gordon Caroll
			.Platzi-friend-item
				figure.Platzi-friend-item-perfil
					img.Platzi-friend-item-perfil-img(src="img/perfil3.jpg", alt="perfil3")
				p.Platzi-friend-item-nombre Gordon Caroll
			.Platzi-friend-item
				figure.Platzi-friend-item-perfil
					img.Platzi-friend-item-perfil-img(src="img/perfil1.jpg", alt="perfil1")
				p.Platzi-friend-item-nombre Gordon Caroll
	section.Video
		img.Video-img(src="img/bg.jpg", alt="background")
		a(href="#").Video-overlay
			i.fa.fa-arrow-left
			i.fa.fa-play