<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Platzi Video
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	
	navbar.Platzi
		h1.Platzi-title!= "Platzi<span>Video</span>"
		ol.Platzi-list
			h4.Platzi-list-title Mi Playlist
			li.Platzi-list-item
				a(href="#") 5 Reasons To Chose a Notebook Over A computer Desktop
			li.Platzi-list-item
				a(href="#") How To Cook A Tender Juicy Steak
			li.Platzi-list-item
				a(href="#") How To Remove Kidney Stones
			li.Platzi-list-item
				a(href="#") The Science Of Superstitions
			li.Platzi-list-item
				a(href="#") 5 Reasons to Chose A Notebook Over A Computer Desktop
			li.Platzi-list-item
				a(href="#") Get Around Easly With A New York Limousine Service
			li.Platzi-list-item
				a(href="#") How To Cook A Tender Juicy
			li.Platzi-list-item
				a(href="#") Goy to Remove Kidney Stonces
			li.Platzi-list-item
				a(href="#") How To Remove Kidney Stones
			li.Platzi-list-item
				a(href="#") The Science Of Superstitions
		.Platzi-firend
			h4.Platzi-friend-title Playlists de Amigos
			.Platzi-friend-item
				figure.Platzi-friend-item-perfil
					img.Platzi-friend-item-perfil-img(src="img/perfil2.jpg", alt="perfil1")
				p.Platzi-friend-item-nombre Gordon Caroll
			.Platzi-friend-item
				figure.Platzi-friend-item-perfil
					img.Platzi-friend-item-perfil-img(src="img/perfil2.jpg", alt="perfil2")
				p.Platzi-friend-item-nombre Gordon Caroll
			.Platzi-friend-item
				figure.Platzi-friend-item-perfil
					img.Platzi-friend-item-perfil-img(src="img/perfil2.jpg", alt="perfil3")
				p.Platzi-friend-item-nombre Gordon Caroll
			.Platzi-friend-item
				figure.Platzi-friend-item-perfil
					img.Platzi-friend-item-perfil-img(src="img/perfil2.jpg", alt="perfil1")
				p.Platzi-friend-item-nombre Gordon Caroll
	section.Video
		img.Video-img(src="img/bg.jpg", alt="background")
		a(href="#").Video-overlay
			i.fa.fa-arrow-left.Video-overlay-flecha
			i.fa.fa-play.Video-overlay-play
	section.Info
		h2.Info-title New Order - Bizarre Love Triangle
		p.Info-views 124.886 vistas
		ul.Info-social
			li.Info-social-btn
				a(href="#") Agregar a mi lista
			li.Info-social-btn
				a(href="#")
					i.fa.fa-share
					p Compartir
			li.Info-social-btn
				a(href="#")
					i.fa.fa-cloud-download-alt
					p Descargar
			ul.Info-social-btn
				li.Info-social-btn-list-item
					a(href="#") Naturaleza
				li.Info-social-btn-list-item
					a(href="#") Relajante
				li.Info-social-btn-list-item
					a(href="#") Musica
				li.Info-social-btn-list-item
					a(href="#") Estudiar
	section.ComenSugeren
		.ComenSugeren-comentarios
			h3.ComenSugeren-comentarios-title Comentarios
			form.ComenSugeren-comentarios-form
				figure.ComenSugeren-comentarios-form-perfil
					img.ComenSugeren-comentarios-form-perfil-img
				input(type="text").ComenSugeren-comentarios-form-input
			.ComenSugeren-comentarios-list
				.ComenSugeren-comentarios-list-item
					figure.ComenSugeren-comentarios-list-item-perfil
						img.ComenSugeren-comentarios-list-item-perfil-img(src="img/perfil1.jpg", alt="perfil1")
					h2.ComenSugeren-comentarios-list-item-nombre Gordon Carrol
					p.ComenSugeren-comentarios-list-item-comentario Barbeue Sauce For a Perfect Barbeque
				.ComenSugeren-comentarios-list-item
					figure.ComenSugeren-comentarios-list-item-perfil
						img.ComenSugeren-comentarios-list-item-perfil-img(src="img/perfil2.jpg", alt="perfil2")
					h2.ComenSugeren-comentarios-list-item-nombre Gordon Carroll
					p.ComenSugeren-comentarios-list-item-comentario Why Las Vegas Hotel Rooms for you
				.ComenSugeren-comentarios-list-item
					figure.ComenSugeren-comentarios-list-item-perfil
						img.ComenSugeren-comentarios-list-item-perfil-img(src="img/perfil3.jpg", alt="perfil3")
					h2.ComenSugeren-comentarios-list-item-nombre Gordon Carroll
					p.ComenSugeren-comentarios-list-item-comentario Popular users of the internet
				.ComenSugeren-comentarios-list-item
					figure.ComenSugeren-comentarios-list-item-perfil
						img.ComenSugeren-comentarios-list-item-perfil-img(src="img/perfil4.jpg", alt="perfil4")
					h2.ComenSugeren-comentarios-list-item-nombre Gordon Carroll
					p.ComenSugeren-comentarios-list-item-comentario Whay you need to know aout oil fondue
				.ComenSugeren-comentarios-list-item
					figure.ComenSugeren-comentarios-list-item-perfil
						img.ComenSugeren-comentarios-list-item-perfil-img(src="img/perfil5.jpg", alt="perfil5")
					h2.ComenSugeren-comentarios-list-item-nombre Gordon Carroll
					p.ComenSugeren-comentarios-list-item-comentario Are You ready to buy a Home theater audio system

		.ComenSugeren-sugerencias
			h3.ComenSugeren-sugerencias-title Sugerencias
			a(href="#").ComenSugeren-sugerencias-item
				img.ComenSugeren-sugerencias-item-img(src="img/sugerencia.jpg", alt="sugerencia")
				p.ComenSugeren-sugerencias-descripcion Quick And easy lunches for the cooking Challenged
			a(href="#").ComenSugeren-sugerencias-item
				img.ComenSugeren-sugerencias-item-img(src="img/sugerencia.jpg", alt="sugerencia")
				p.ComenSugeren-sugerencias-descripcion Quick And easy lunches for the cooking Challenged